<div class="group-edit-container">
    <h3>List users the group</h3>
    <h4 ng-hide="groupEdit.showUsersGroup">Group haven't users</h4>
    <table ng-show="groupEdit.showUsersGroup" class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>User name</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in groupEdit.usersGroup">
                <td>{{$index+1}}</td>
                <td><a ui-sref="userEditPage({userName: user.userName})">{{user.userName}}</a></td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
            </tr>
        </tbody>
    </table>
</div>