<div class="group-edit-container">
    <h3>Group</h3>
    <a class="edit-group-tabs"
       ng-class="groupEdit.state.current.name ==='groupEditPage'?'active':''"
       ui-sref="groupEditPage">Edit group</a>
    <a class="edit-group-tabs"
       ng-class="groupEdit.state.current.name ==='groupEditPage.users'?'active':''"
       ui-sref="groupEditPage.users">Users</a>
    <div ui-view></div>
    <div ng-show="groupEdit.state.current.name ==='groupEditPage'">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Group name</th>
                    <th>Group title</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{$index+1}}</td>
                    <td>{{groupEdit.group.groupName}}</td>
                    <td>{{groupEdit.group.groupTitle}}</td>
                </tr>
            </tbody>
        </table>
        <div class="container-form bg-info">
            <h3>Edit group</h3>
            <form name="groupEditForm"
                  class="form-horizontal"
                  novalidate
                  ng-submit="groupEdit.groupEdit(groupEdit.group, groupEditForm.$valid, groupEditForm)">
                <div class="form-group">
                    <label for="inputGroupName" class="col-sm-2 control-label">Group name:</label>
                    <div class="col-sm-10">
                        <input type="text"
                               ng-change="groupEdit.change(groupEditForm)"
                               name="groupName"
                               class="form-control"
                               id="inputGroupName"
                               placeholder="groupName"
                               required
                               ng-minlength="4"
                               ng-maxlength="20"
                               ng-pattern="/^[a-zA-Z0-9.-]+$/"
                               ng-model="groupEdit.group.groupName">
                    </div>
                    <div class="error"
                         ng-messages="groupEditForm.groupName.$error"
                         ng-show="groupEditForm.groupName.$touched||groupEditForm.$submitted">
                        <div ng-messages-include="validateMessages.html"></div>
                        <p ng-message="pattern">4 ~ 20 characters (Latin alphabet, digits, '.', '-') (Unique)</p>
                        <p ng-message="unique">{{groupEdit.validMessage}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputGroupTitle" class="col-sm-2 control-label">Group title:</label>
                    <div class="col-sm-10">
                        <input type="text"
                               name="groupTitle"
                               class="form-control"
                               id="inputGroupTitle"
                               placeholder="groupTitle"
                               required
                               ng-minlength="6"
                               ng-maxlength="20"
                               ng-model="groupEdit.group.groupTitle">
                    </div>
                    <div class="error"
                         ng-messages="groupEditForm.groupTitle.$error"
                         ng-show="groupEditForm.groupTitle.$touched||groupEditForm.$submitted">
                        <div ng-messages-include="validateMessages.html"></div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-primary" ui-sref="groupsPage">Cancel</a>
                <a class="btn btn-primary fl-right" ng-click="groupEdit.deleteGroup(groupEdit.group._id)">Delete group</a>
            </form>
        </div>
    </div>
</div>