<div class="container-form bg-info margin-form">
    <h3>Add new group</h3>
    <form name="addNewGroupForm"
          class="form-horizontal"
          novalidate
          ng-submit="groupsPage.addNewGroup(groupsPage.newGroup, addNewGroupForm.$valid, addNewGroupForm)">
        <div class="form-group">
            <label for="inputGroupName"
                   class="col-sm-2 control-label">Group name:</label>
            <div class="col-sm-10">
                <input type="text"
                       ng-change="groupsPage.change(addNewGroupForm)"
                       name="groupName"
                       class="form-control"
                       id="inputGroupName"
                       placeholder="groupName"
                       required
                       ng-minlength="4"
                       ng-maxlength="20"
                       ng-pattern="/^[a-zA-Z0-9.-]+$/"
                       ng-model="groupsPage.newGroup.groupName">
            </div>
            <div class="error"
                 ng-messages="addNewGroupForm.groupName.$error"
                 ng-show="addNewGroupForm.groupName.$touched||addNewGroupForm.$submitted">
                <div ng-messages-include="validateMessages.html"></div>
                <p ng-message="pattern">4 ~ 20 characters (Latin alphabet, digits, '.', '-') (Unique)</p>
                <p ng-message="unique">{{groupsPage.validMessage}}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="inputGroupTitle" class="col-sm-2 control-label">Group title:</label>
            <div class="col-sm-10">
                <input type="text"
                       name="groupTitle"
                       class="form-control"
                       id="inputGroupTitle"
                       placeholder="groupTitle"
                       required
                       ng-minlength="6"
                       ng-maxlength="20"
                       ng-model="groupsPage.newGroup.groupTitle">
            </div>
            <div class="error"
                 ng-messages="addNewGroupForm.groupTitle.$error"
                 ng-show="addNewGroupForm.groupTitle.$touched||addNewGroupForm.$submitted">
                <div ng-messages-include="validateMessages.html"></div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add new group</button>
        <a class="btn btn-primary" ui-sref="groupsPage">Cancel</a>
    </form>
</div>