<div class="groups-container">
    <h2>Groups</h2>
    <a class="btn btn-primary margin-form"
       ui-sref-active="active"
       ui-sref="groupsPage.addNewGroup">Add new group</a>
    <div ui-view></div>
    <div class="form-group">
        <label for="search">Search</label>
        <input class="form-control"
               type="text"
               name="search"
               id="search"
               ng-model="searchGroup"/>
    </div>
    <h3>All groups</h3>
    <h4 ng-hide="groupsPage.showGroups">There are no groups</h4>
    <div ng-show="groupsPage.showGroups" id="fixed" when-scrolled="groupsPage.showNumPage()">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Group name</th>
                <th>Group title</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="group in groupsPage.groups|filter:searchGroup">
                <td>{{$index+1}}</td>
                <td><a ui-sref="groupEditPage({groupName: group.groupName})">{{group.groupName}}</a></td>
                <td>{{group.groupTitle}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>