<div class="user-edit-container">
    <h3>Profile user</h3>
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>User name</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{$index+1}}</td>
                <td>{{userEdit.user.userName}}</td>
                <td>{{userEdit.user.firstName}}</td>
                <td>{{userEdit.user.lastName}}</td>
                <td>{{userEdit.user.email}}</td>
            </tr>
        </tbody>
    </table>
    <div class="container-form bg-info">
        <h3>Edit user</h3>
        <form name="userEditForm"
              class="form-horizontal"
              novalidate
              ng-submit="userEdit.userEdit(userEdit.user, userEditForm.$valid, userEditForm)">
            <div class="form-group">
                <label for="inputUserName"
                       class="col-sm-2 control-label">User name:</label>
                <div class="col-sm-10">
                    <input type="text"
                           ng-change="userEdit.change(userEditForm)"
                           name="userName"
                           class="form-control"
                           id="inputUserName"
                           placeholder="userName"
                           required
                           ng-minlength="4"
                           ng-maxlength="20"
                           ng-pattern="/^[a-zA-Z0-9.-]+$/"
                           ng-model="userEdit.user.userName">
                </div>
                <div class="error"
                     ng-messages="userEditForm.userName.$error"
                     ng-show="userEditForm.userName.$touched||userEditForm.$submitted">
                    <div ng-messages-include="validateMessages.html"></div>
                    <p ng-message="pattern">4 ~ 20 characters (Latin alphabet, digits, '.', '-') (Unique)</p>
                    <p ng-message="unique">{{userEdit.validMessage}}</p>
                </div>
            </div>
            <div class="form-group">
                <label for="inputFirstName"
                       class="col-sm-2 control-label">First name:</label>
                <div class="col-sm-10">
                    <input type="text"
                           name="firstName"
                           class="form-control"
                           id="inputFirstName"
                           placeholder="firstName"
                           required
                           ng-minlength="2"
                           ng-maxlength="20"
                           ng-pattern="/^[a-zA-Z\s-]+$/"
                           ng-model="userEdit.user.firstName">
                </div>
                <div class="error"
                     ng-messages="userEditForm.firstName.$error"
                     ng-show="userEditForm.firstName.$touched||userEditForm.$submitted">
                    <div ng-messages-include="validateMessages.html"></div>
                    <p ng-message="pattern">2 ~ 20 characters (only letters, the space character and '-')</p>
                </div>
            </div>
            <div class="form-group">
                <label for="inputLastName"
                       class="col-sm-2 control-label">Last name:</label>
                <div class="col-sm-10">
                    <input type="text"
                           name="lastName"
                           class="form-control"
                           id="inputLastName"
                           placeholder="lastName"
                           required
                           ng-minlength="2"
                           ng-maxlength="20"
                           ng-pattern="/^[a-zA-Z]+$/"
                           ng-model="userEdit.user.lastName">
                </div>
                <div class="error"
                     ng-messages="userEditForm.lastName.$error"
                     ng-show="userEditForm.lastName.$touched||userEditForm.$submitted">
                    <div ng-messages-include="validateMessages.html"></div>
                    <p ng-message="pattern">2 ~ 20 characters (only letters)</p>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail"
                       class="col-sm-2 control-label">Email:</label>
                <div class="col-sm-10">
                    <input type="email"
                           ng-change="userEdit.change(userEditForm)"
                           name="email"
                           class="form-control"
                           id="inputEmail"
                           placeholder="email"
                           required
                           ng-minlength="2"
                           ng-maxlength="20"
                           ng-pattern="/^[-\w.]+@([A-z0-9][-A-z0-9]+\.)+[A-z]{2,4}$/"
                           ng-model="userEdit.user.email">
                </div>
                <div class="error"
                     ng-messages="userEditForm.email.$error"
                     ng-show="userEditForm.email.$touched||userEditForm.$submitted">
                    <div ng-messages-include="validateMessages.html"></div>
                    <p ng-message="pattern">3 ~ 30 characters in the format of email (unique)</p>
                    <p ng-message="unique">{{userEdit.validMessage}}</p>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-primary" ui-sref="usersPage">Cancel</a>
            <a class="btn btn-primary fl-right" ng-click="userEdit.deleteUser(userEdit.user._id)">Delete user</a>
        </form>
    </div>
    <div class="container-list-group">
        <h3>List groups the user</h3>
        <a class="btn btn-primary fl-right" ui-sref-active="active" ui-sref="userEditPage.addGroupForUser">Add group</a>
        <h4 ng-hide="userEdit.showUserGroups">User haven't groups</h4>
        <ul ng-show="userEdit.showUserGroups">
            <li ng-repeat="group in userEdit.groupsUser">
                <a ui-sref="groupEditPage({groupName: group.groupName})">
                    <span>{{group.groupName}}  </span>
                    <span>{{group.groupTitle}}</span>
                </a>
                <a class="delete-icon" ng-click="userEdit.deleteGroupFromUser(userEdit.user._id, group._id)">X</a>
            </li>
        </ul>
    </div>
    <div ui-view></div>
</div>