<div class="container-form bg-info margin-form">
    <h3>Add new user</h3>
    <form name="addUserForm"
          class="form-horizontal"
          novalidate
          ng-submit="usersPage.addNewUser(usersPage.newUser, addUserForm.$valid, addUserForm)">
        <div class="form-group">
            <label for="inputUserName" class="col-sm-2 control-label">User name:</label>
            <div class="col-sm-10">
                <input type="text"
                       ng-change="usersPage.change(addUserForm)"
                       name="userName"
                       class="form-control"
                       id="inputUserName"
                       placeholder="userName"
                       required
                       ng-minlength="4"
                       ng-maxlength="20"
                       ng-pattern="/^[a-zA-Z0-9.-]+$/"
                       ng-model="usersPage.newUser.userName">
            </div>
            <div class="error"
                 ng-messages="addUserForm.userName.$error"
                 ng-show="addUserForm.userName.$touched||addUserForm.$submitted">
                <div ng-messages-include="validateMessages.html"></div>
                <p ng-message="pattern">4 ~ 20 characters (Latin alphabet, digits, '.', '-') (Unique)</p>
                <p ng-message="unique">{{usersPage.validMessage}}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="inputFirstName" class="col-sm-2 control-label">First name:</label>
            <div class="col-sm-10">
                <input type="text"
                       name="firstName"
                       class="form-control"
                       id="inputFirstName"
                       placeholder="firstName"
                       required ng-minlength="2"
                       ng-maxlength="20"
                       ng-pattern="/^[a-zA-Z\s-]+$/"
                       ng-model="usersPage.newUser.firstName">
            </div>
            <div class="error"
                 ng-messages="addUserForm.firstName.$error"
                 ng-show="addUserForm.firstName.$touched||addUserForm.$submitted">
                <div ng-messages-include="validateMessages.html"></div>
                <p ng-message="pattern">2 ~ 20 characters (only letters, the space character and '-')</p>
            </div>
        </div>
        <div class="form-group">
            <label for="inputLastName" class="col-sm-2 control-label">Last name:</label>
            <div class="col-sm-10">
                <input type="text"
                       name="lastName"
                       class="form-control"
                       id="inputLastName"
                       placeholder="lastName"
                       required ng-minlength="2"
                       ng-maxlength="20"
                       ng-pattern="/^[a-zA-Z]+$/"
                       ng-model="usersPage.newUser.lastName">
            </div>
            <div class="error"
                 ng-messages="addUserForm.lastName.$error"
                 ng-show="addUserForm.lastName.$touched||addUserForm.$submitted">
                <div ng-messages-include="validateMessages.html"></div>
                <p ng-message="pattern">2 ~ 20 characters (only letters)</p>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">Email:</label>
            <div class="col-sm-10">
                <input type="email"
                       ng-change="usersPage.change(addUserForm)"
                       name="email"
                       class="form-control"
                       id="inputEmail"
                       placeholder="email"
                       required
                       ng-minlength="2"
                       ng-maxlength="20"
                       ng-pattern="/^[-\w.]+@([A-z0-9][-A-z0-9]+\.)+[A-z]{2,4}$/"
                       ng-model="usersPage.newUser.email">
            </div>
            <div class="error"
                 ng-messages="addUserForm.email.$error"
                 ng-show="addUserForm.email.$touched||addUserForm.$submitted">
                <div ng-messages-include="validateMessages.html"></div>
                <p ng-message="pattern">3 ~ 30 characters in the format of email (unique)</p>
                <p ng-message="unique">{{usersPage.validMessage}}</p>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add new user</button>
        <a class="btn btn-primary" ui-sref="usersPage">Cancel</a>
    </form>
</div>
