<div class="users-container">
    <h2>Users</h2>
    <a class="btn btn-primary margin-form"
       ui-sref-active="active"
       ui-sref="usersPage.addNewUser">Add new user</a>
    <div ui-view></div>
    <div class="form-group">
        <label for="search">Search</label>
        <input class="form-control"
               type="text"
               name="search"
               id="search"
               ng-model="searchUser"/>
    </div>
    <h3>All users</h3>
    <h4 ng-hide="usersPage.showUsers">There are no users.</h4>
    <table ng-show="usersPage.showUsers" class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>User name</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in usersPage.users|filter: searchUser">
                <td>{{$index+1}}</td>
                <td><a ui-sref="userEditPage({userName: user.userName})">{{user.userName}}</a></td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
            </tr>
        </tbody>
    </table>
    <div class="pagination-wrap">
        <ul class="pagination">
            <li ng-repeat="page in usersPage.paginationList"
                ng-click="usersPage.showNumPage(page.link)"
                ng-class="{'active': usersPage.currentPages == page.link,
                 'disabled': (usersPage.currentPages === 0 && page.link === 'prev') ||
                  ((usersPage.currentPages === usersPage.paginationList.length - 3) && page.link === 'next')}">
                <a>{{page.name}}</a>
            </li>
        </ul>
    </div>
</div>
