<div class="container-form bg-info margin-form">
    <h3>Add {{userEdit.user.userName}} in group</h3>
    <form name="addGroupForUserForm"
          class="form-horizontal"
          novalidate
          ng-submit="userEdit.addGroupForUser(userEdit.groupForUser, addGroupForUserForm.$valid, userEdit.user._id, addGroupForUserForm)">
        <div class="form-group">
            <label for="inputGroup"
                   class="col-sm-2 control-label">Group name:</label>
            <div class="col-sm-10">
                <select name="groups"
                        ng-change="userEdit.change(addGroupForUserForm)"
                        ng-model="userEdit.groupForUser.group"
                        id="inputGroup"
                        class="form-control"
                        required ng-options="group.groupName for group in userEdit.groups track by group._id">

                </select>
            </div>
            <div class="error"
                 ng-messages="addGroupForUserForm.groups.$error"
                 ng-show="addGroupForUserForm.groups.$touched||addGroupForUserForm.$submitted">
                <div ng-messages-include="validateMessages.html"></div>
                <p ng-message="unique">{{userEdit.validMessage}}</p>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
        <a class="btn btn-primary" ui-sref="userEditPage">Cancel</a>
    </form>
</div>